{% extends 'model/base.html' %}

{% block content %}
        <div class="post">
        	<h1>PAP Smear Category:&nbsp&nbsp&nbsp{{model.FI_FDiagnosis}}</h1>
        </div>

        <div>
        	<p>
            <h3>Haemoglobin:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ model.Haemoglobin }}</h3>
            <h3>WBC:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ model.WBC }}</h3>
            <h3>Age:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ model.Age }}</h3>
            <h3>Smoking:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ model.Smoking }}</h3>
            <h3>Nonveg:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ model.Nonveg }}</h3>
            <h3>OccupationType:&nbsp&nbsp&nbsp{{ model.OccupationType }}</h3>
        	</p>
        </div>

{% endblock %}